// todo add better names
:root {
  --color-one: #1E3888;
  --color-two: #8EF9F3;
  --color-three: #99C24D;
  --color-four: #75485E;
  --color-five: #383F51;
  --break-sm: 567px;
  --break-md: 768px;
  --break-lg: 992px;
  --break-xl: 1200px;
}