.center-div-end-all-be-all-this-name-is-too-long{
    //flex
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div-planb{
    //grid
    display: grid;
    place-items: center;
}