.cardText {
  background-color: var(--color-five);
  color: snow;
  opacity: 60%;
  padding: 1rem;
  border-radius: 10px;
}
.description {
  font-style: italic;
  max-width: max-content;
  border-bottom: 1px solid rgba(56, 63, 81, 0.2); // --color-five with lower opacity
}
.card {
  // border: 1px solid var(--color-five);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 -1.5em 1.5em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(205, 204, 204),
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
}
.cardBody {
  border-top: 2px solid var(--color-five);
}

.image {
  width: 100%;
  height: 100%;
}